.input-container{
    position: relative;
    max-width: 400px;
    width: 100%;
    margin: 0 30px;
    .input{
        border: 1px solid #bbc0c4;
        padding-left: 32px;
        width: 100%;
        padding: .6em .7em .6em 30px;
        border-radius: 3px;        
    }
    .icon{
        color: #2c2c2c;
        position: absolute;
        top: 8px;
        pointer-events: none;
        left: 10px;
        right: auto;
    }
}

@media (max-width: 375px) {
    .input-container{
        margin: 0 15px;
    }
}