.container{
    background-color: #fff;
    height: 350px;
    width: 100%;
    max-width: 320px;    
    align-self: center;

    display: flex;
    flex-direction: column;
    padding: 30px;
    h1{
        text-align: center;
        font-size: 1.5em;
    }

    .invalid{color: red; font-size: .8em;}
}