
.avatar{
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 50%!important;
}
.menu-container{
    position: relative;
    cursor: pointer;
    .menu{
        min-width: 224px;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 400;
        background-color: white;
        list-style: none;
        padding: 10px 0px;
        border-radius: 3px;
        max-height: 90vh;
        .item{
            padding: 8px 12px 7px;
            font-size: .9em;
            &:hover{
                background-color: rgb(244, 245, 247);;
            }
        }
    }
}
