.logo{
    margin: 20px auto 0;
    font-weight: 700;
    text-decoration: none;
    color: #253278;
    display: flex;
    align-items: center;
    svg{
        font-size: 1.5em;
    }
    span{
        font-size: 2em;
    }
}