
input {
    &.input {
        background-color: #F8F8F8;
        width: 100%;
        padding: 15px;
        border: 1px solid #E0E0E0;
        border-radius: 5px;
        outline: none;
        &::placeholder {
            color: #BEBEBE;
          }
      }
      &.focused{
        border: 1px solid #BEBBBB;
    }
}

  