$sizes: 12;

@mixin margin-classes {
  @for $i from 1 through $sizes {
     $margin: $i * 0.25rem;
    /* margin #{$margin} */
    .m#{$i}  {margin: $margin;}
    .ml#{$i} {margin-left: $margin;}
    .mr#{$i} {margin-right: $margin;}
    .mt#{$i} {margin-top: $margin;}
    .mb#{$i} {margin-bottom: $margin;}
    .mx#{$i} {margin-left: $margin; margin-right: $margin;}
    .my#{$i} {margin-top: $margin; margin-bottom: $margin;}
  }
}

@mixin padding-classes {
    @for $i from 1 through $sizes {
      $padding: $i * 0.25rem;
      /* padding #{$padding} */
      .p#{$i} {padding: $padding;}
      .pl#{$i} {padding-left: $padding;}
      .pr#{$i} {padding-right: $padding;}
      .pt#{$i} {padding-top: $padding;}
      .pb#{$i} {padding-bottom: $padding;}
      .px#{$i} {padding-left: $padding; padding-right: $padding;}
      .py#{$i} {padding-top: $padding; padding-bottom: $padding;}
    }
  }