
.loading{
  animation: rotation 2s infinite linear;
  -webkit-animation: rotation 2s infinite linear;
}
.btn-primary{
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: #3897F1;
  color: white;
  outline: none;
  cursor: pointer;
}

@keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}
