$border: 8px;
$separation: 13px;

.item{
    border-radius: $border;
    width: 163px;
    margin-bottom: $separation;
    text-decoration: none;
    position: relative;
    z-index: 0;
    cursor: pointer;
    &:hover{
        h2{
            height: 40px;
        }
    }
    h2{
        position: absolute;
        bottom: 4px;
        left: 0;
        z-index: 1;
        width: 100%;
        color: white;
        font-weight: 700;
        font-size: .8em;
        padding: 0 8px;
        background: #000000cf;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        display: flex;
        align-items: center;
        overflow: hidden;
        height: 0;

        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
    img{
        max-width: 163px;
        width: 100%;
        height: 235px;
        border-radius: $border;
        object-fit: cover;
        z-index: 4;
    }
    .fav-icon{
        color: white;
        position: absolute;
        right: 8px;
        top: 8px;
        z-index: 5;
        font-size: 1.8em;
        padding: 5px;
        &:hover{
            background: rgb(247, 247, 247);
            border-radius: 50% ;
        }
        &.fav-icon-empty{
            fill: transparent;
            stroke:white;
            &:hover{
                stroke: rgb(34, 34, 34);
            }
        }
        &.fav-icon-fill{
            fill: #ff385c;
            stroke:white;
        }
    }   
}

@media (max-width: 375px) {
    .item{
        width: 100%;
        img{
            max-width: 100%;
            height: auto;
        }
    }
}