.header{
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-sizing: border-box;
    width: 100%;
    background: #2C2C2C;
    transition: 0.2s linear all;
    // a{
    //     color: white;
    // }
    .brand{
        font-weight: 700;
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        span{
            margin-left: 5px;
            display: block;   
        }        
    }
    
}

@media (max-width: 375px) {
    .header{
        padding: 1rem 20px;
        .brand{
            span{ display: none;}
        }
    }
}