.alert{
    margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;

  &.alert-success {
    color: #270;
    background-color: #DFF2BF;
  }
  &.alert-danger {
    color: #D8000C;
    background-color: #FFBABA;
  }
}