.content{

    backdrop-filter: none;
    min-height: 100vh;
    background-color: #060613;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .container{        
        width: 100%;
        max-width: 1024px;
        padding: 2rem 5% 2rem;
    }
}

@media (max-width: 375px) {
    .content{
        .container{
            padding: 2rem 30px 2rem;
        }
    }
}

@media (max-width: 320px) {
    .content{
        .container{
            padding: 2rem 20px 2rem;
        }
    }
}
