.film{
    padding: 40px 0;
    color: white;
    background-color: #060613;
    .info{
        display: flex;
        .cover{
            height: 192px;
            width: auto;
            margin-right: 20px;
            border-radius: .1875rem;
        }
        .additional-info{
            font-size: 1.2em;
            font-weight: 500;
            align-self: flex-end;
            margin-bottom: 8px;
            .name{
                font-size: 2.5em;
                font-weight: 700;
            }
            .section
            {
                &::after {
                    content:'·';
                    margin: 0 10px;
                }
            }
            .rating{
                background-color: #242432;
                padding: 0 .5em;
                font-weight: 700;
                font-size: .7em;
                display: inline-block;
                margin: 0 0 20px 10px;
                border-radius: .1875rem;
            }
        }
    }
    
}

@media (max-width: 375px) {

    .film{        
        .info{
            flex-direction: column;
            .cover{
                margin: 0;
                height: auto;
            }
            .additional-info{
                .name{
                    font-size: 2em;
                }
            }
        }
    }

    .player{
        video{
            width: 100%!important;
            height: auto!important;
        }
    }
}